<script setup>
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import {Head, router, useForm, usePage} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";

const form = useForm({
    name: '',
    guard_name: 'web',
});
const submit = () => {
    form.post(route('role.store'), {
        onError: () => {
            setTimeout(() => form.clearErrors(), 4000);
        }
    });
};

const goBack = () => {
    window.history.back()
};
</script>

<template>
    <Head title="Edit user"/>

    <AuthenticatedLayout checked>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                    <div class="max-w-xl ">
                        <section>

                            <header>
                                <h2 class="text-lg font-medium text-gray-900">Role Information</h2>

                                <p class="mt-1 mb-2 text-sm text-gray-600">
                                    Create new role
                                </p>
                            </header>

                            <form @submit.prevent="submit">

                                <div class="mt-4">
                                    <InputLabel for="name" value="Role name"/>

                                    <TextInput
                                        id="name"
                                        type="text"
                                        class="mt-1 block w-full"
                                        v-model="form.name"
                                        required
                                        autocomplete="name"
                                    />

                                    <InputError class="mt-2" :message="form.errors.name"/>
                                </div>

                                <div class="flex items-center justify-end mt-4">

                                    <SecondaryButton @click="goBack"> Back</SecondaryButton>

                                    <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }"
                                                   :disabled="form.processing">
                                        save
                                    </PrimaryButton>
                                </div>
                            </form>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>

</template>


<style>
</style>
